
            <div class="row">
                <div class="col-md-4 col-sm-4 side-panel">
                    <div class="left-hiragana">
                        <div class="hira-holder">
                           <sc-grid set="1"></sc-grid>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="main-cont" ng-show="!kanaSet">
                        <div class="row">
                            <div class="col-md-12 introtext" ng-hide="correct">
                                Which character set would you like to practice?
                            </div>
                        </div>
                        <button class="btn-japanese intro" ng-click="setKanaSet(1)">Hiragana</button>
                        <button class="btn-japanese intro" ng-click="setKanaSet(2)">Katakana</button>
                    </div>
                    <div class="main-cont" ng-show="kanaSet && score!='46'">
                        <div class="row">
                            <div class="col-md-12 smiddle" ng-hide="correct" style="font-size:30px;">Score: {{score}} / {{kanaTotal}}</div>
                        </div> 
                        <div class="row">
                            <div class="col-md-12 smiddle" ng-hide="correct" style="font-size:90px;">{{correctKana.romaji}}</div>
                        </div>
                        <div class="row">
                                   <div class="smiddle"><answer-button check-answer="isCorrect(options[0])" ng-attr-options="options[0]"></answer-button></div>
                                    <div class="smiddle"><answer-button check-answer="isCorrect(options[1])" ng-attr-options="options[1]"></answer-button></div>
                                    <div class="smiddle"><answer-button check-answer="isCorrect(options[2])" ng-attr-options="options[2]"></answer-button></div>
                        </div>
                        <div ng-bind="totalCorrect"></div>
                    </div>
                    <div class="main-cont" ng-show="score=='46'">
                          <div class="col-md-12 introtext" ng-hide="correct">Congratulations! You're either good at your kana or clicking multiple options until you get the right one; both valuable skills.
                            </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 side-panel">
                    <div class="left-hiragana">    
                        <div class="hira-holder">
                            <sc-grid set="0"></sc-grid>
                        </div>
                    </div>
                </div>
            </div>