<div class="jumbotron">
  <h1>ようこそ</h1>
  <h1>Welcome</h1>
<!--   <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>
<div class="row">
	<div class="col-md-6">
		<p class="lead">Welcome! Does studying Japanese make you feel like this?</p><img class="img-lead" src="images/frustrated.jpg"/>
	</div>
	<div class="col-md-6">	
	  <p class="lead">Well get ready, because Japanese learner is going to make you feel like <b>THIS</b></p><img class="img-lead" src="images/happy.jpg"/>
	</div>
</div>
<div class="row marketing">
  <h4><a ng-href="#/hirakana"> Hiragana / Katakana</a></h4>
  <p>
    Learn the two character sets with this game
  </p>
</div>
